.env

# Python
*.pyc
__pycache__/

# Virtual environment
venv/

# Django
db.sqlite3
src/accounts/migrations/

# Mac OS
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Static
staticfiles/
