.env

# Python
*.pyc
__pycache__/

# Virtual environment
venv/

# Django
db.sqlite3

# Mac OS
.DS_Store

# Node Modules
node_modules/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Output CSS
src/static/CACHE/
*.log