[MASTER]
ignore=venv,migrations

[FORMAT]
max-line-length=92

[MESSAGES CONTROL]
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function docstring
    R0903,  # Too few public methods
    R0904,  # Too many public methods
    E1101,  # No member (dynamic attribute in Django)
    E0401,  # Import error
    W0212,  # Access to a protected member
    R0801,  # Duplicate code

[REPORTS]
output-format=colorized
