<nav class="navbar is-fixed-top p-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <span class="icon"><i class="fa-solid fa-home"></i></span>
            <span class="has-text-weight-medium">Food Donation App</span>
        </a>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            {% if user.is_authenticated %}
            <a class="navbar-item" href="#">Home</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">View As</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'accounts:profile' %}">User</a>
                    <a class="navbar-item" href="#">Organization</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="#">Add Organization</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="navbar-end">
            {% if user.is_authenticated %}
            <a class="navbar-item">Dashboard</a>
            <a class="navbar-item">Orders</a>
            <a class="navbar-item">Profile</a>
            {% endif %}
            <div class="navbar-item">
                <div class="buttons">
                    {% if user.is_authenticated %}
                    <a class="button is-primary">Messages</a>
                    <a class="button is-light" href="{% url 'accounts:logout' %}">Logout</a>
                    {% else %}
                    <a class="button is-primary" href="{% url 'accounts:login' %}">Login</a>
                    <a class="button is-light" href="{% url 'accounts:register' %}">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>