<!-- Notification -->
{% if messages %}
    <!-- djlint:off -->
        <div id="notification-area"
             style="position: absolute;
                    top: 5px;
                    right: 5px;
                    z-index: 1000">
                {% for message in messages %}
                {% if 'temp_password' not in message.extra_tags %}
                <div class="notification is-{{ message.tags }}"
                     style="width: auto;
                            padding-right: 2.5rem">
            <button class="delete" style="position: absolute; right: 10px;"></button>
<!-- djlint:on -->
{{ message }}
</div>
{% endif %}
{% endfor %}
</div>
{% endif %}
