option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "src.django_management.settings"
    PYTHONPATH: "/var/app/current/src:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "src.django_management.wsgi:application"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: "src.static"