{% extends "_base.html" %}
{% block title %}
    Organizations Dashboard
{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="title">Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
        <h2 class="subtitle mt-3">Your organizations</h2>
        <div class="card mb-5">
            <div class="card-content">
                <div class="media is-flex is-justify-content-space-between">
                    <div class="media-content">
                        <p class="title is-4">Add a new organization</p>
                    </div>
                    <div class="media-right">
                        <span class="tag is-primary is-light is-medium mt-1">Org Type</span>
                    </div>
                </div>
                <div class="content">
                    <div class="columns">
                        <div class="column is-two-thirds">
                            <a class="button is-link is-light is-fullwidth"
                               style="white-space: normal;
                                      word-wrap: break-word"
                               href="#"
                               rel="noopener noreferrer">
                                Org Address
                            </a>
                        </div>
                        <div class="column is-one-third has-text-centered">
                            <p>Email</p>
                            <p>Contact Number</p>
                            <p>Website</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <a href="#"
                class="card-footer-item">Submit</a>
            </footer>
        </div>
        {% if org_list %}
            {% for org in org_list %}
                <div class="card-content">
                    <div class="media is-flex is-justify-content-space-between">
                        <div class="media-content">
                            <p class="title is-4">{{ org.org_name }}</p>
                        </div>
                        <div class="media-right">
                            <span class="tag is-primary is-light is-medium mt-1">{{ org.org_type }}</span>
                        </div>
                    </div>
                    <div class="content">
                        <div class="columns">
                            <div class="column is-two-thirds">
                                <a class="button is-link is-light is-fullwidth"
                                   style="white-space: normal;
                                          word-wrap: break-word"
                                   href="#"
                                   rel="noopener noreferrer">
                                    {{ org.org_address }}   
                                </a>
                            </div>
                            <div class="column is-one-third has-text-centered">
                                <p>{{ org.org_email }}</p>
                                <br>
                                <p>{{ org.org_contact_number }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="{{ org.org_website }}"
                    class="card-footer-item"
                    >
                    {{ org.org_website }}</a>
                </footer>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
