{% extends "_base.html" %}
{% block title %}
    Organizations Dashboard
{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="title">Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
        <h2 class="subtitle mt-4">
            <strong>Add a new Organization</strong>
        </h2>
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-content">
                    <div class="columns is-multiline">
                        <div class="column is-full-mobile is-two-thirds-tablet">
                            <div class="field">{{ form.organization_name }}</div>
                        </div>
                        <div class="column is-full-mobile is-one-third-tablet">
                            <div class="field">
                                <div class="control">
                                    <div class="tag is-medium is-light is-fullwidth">{{ form.type }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-two-thirds-tablet is-full-mobile">
                            <div class="field">
                                <div class="control">
                                    <div class="button is-link is-light is-fullwidth has-text-left is-flex-wrap-wrap">{{ form.address }}</div>
                                </div>
                            </div>
                            <div class="field">{{ form.zipcode }}</div>
                        </div>
                        <div class="column is-one-third-tablet is-full-mobile">
                            <div class="field">{{ form.email }}</div>
                            <div class="field">{{ form.contact_number }}</div>
                            <div class="field">{{ form.website }}</div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <button id="submit-btn" type="submit" class="card-footer-item">
                        <strong>Add</strong>
                    </button>
                </footer>
            </div>
        </form>
        <h2 class="subtitle mt-5">
            <strong>Your organizations</strong>
        </h2>
        <div class="columns is-multiline is-variable is-4">
            {% for org in org_list %}
                <div class="column is-full-mobile is-half-tablet is-half-desktop">
                    <div class="card mb-5 is-flex is-flex-direction-column">
                        <div class="card-content is-flex-grow-1">
                            <div class="media is-flex is-justify-content-space-between">
                                <div class="media-content">
                                    <p class="title is-4 is-clipped">{{ org.organization_name }}</p>
                                </div>
                                <div class="media-right">
                                    <span class="tag is-primary is-light is-medium mt-1">{{ org.type }}</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="columns">
                                    <div class="column is-full-mobile is-half-tablet">
                                        <!-- djlint:off -->
                                        <div class="button is-link is-light has-text-centered"
                                             style="white-space: normal;
                                                    word-wrap: break-word;
                                                    overflow-wrap: break-word">{{ org.address }}</div>
                                    </div>
                                    <div class="column is-full-mobile is-half-tablet has-text-centered">
                                        <p style="word-wrap: break-word; overflow-wrap: break-word;">{{ org.email }}</p>
                                        <p>{{ org.contact_number }}</p>
                                        <a href="{{ org.website }}"
                                           style="word-wrap: break-word;
                                                  overflow-wrap: break-word">{{ org.website }}</a>
                                        <!-- djlint:on -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="card-footer mt-auto">
                            <a href="{% url 'donor_dashboard:manage_organization' org.org_id %}" class="card-footer-item">Manage Organization</a>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
