{% extends "_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/manage_organization.css' %}">
<script src="{% static 'js/manage_organization.js' %}"></script>
    <div class="container">
        <!-- Notification -->
        {% if messages %}
        <!-- djlint:off --> 
            <div id="notification-area" style="position: absolute; top: 5px; right: 5px; z-index: 1000;">
                {% for message in messages %}
                    <div class="notification is-{{ message.tags }}" style="width: auto; padding-right: 2.5rem;">
                        <button class="delete" style="position: absolute; right: 10px;"></button>
                    <!-- djlint:on -->
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="flex-container">
            <h2 class="subtitle mt-5">
                <strong>{{ organization.organization_name }}</strong>
            </h2>
            <div class="buttons">
                <button id="add-donation-button" class="button is-dark">Add Donation</button>
                <a href="{% url 'donor_dashboard:manage_organization' organization.organization_id %}" class="button is-info">
                    Manage Organization
                </a>

                <form id="delete-form" action="{% url 'donor_dashboard:delete_organization' organization.organization_id %}" method="post">
                    {% csrf_token %}
                    <button type="button" class="button is-danger" onclick="confirmDelete()">Delete Organization</button>
                </form>
            </div>
        </div>
        
        <h2 class="subtitle mt-3">List of Donations:</h2>
            {% if donations %}
                <div class="columns is-multiline is-variable is-4">
                    {% for donation in donations %}
                        <div class="column is-full-mobile is-half-tablet is-half-desktop">
                            <div class="card mb-5">
                                <div class="card-content">
                                    <div class="media is-flex is-justify-content-space-between is-flex-direction-column-mobile">
                                        <div class="media-content">
                                            <p class="title is-4 is-clipped">{{ donation.food_item }}</p>
                                        </div>
                                        <div class="media-right mt-2-mobile">
                                            <span class="tag is-primary is-light is-medium mt-1">{{ donation.quantity }} Available</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="columns is-flex-direction-column-mobile">
                                            <div class="column is-one-third has-text-centered">
                                                <strong>Pickup by:</strong>
                                                <p>{{ donation.pickup_by }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a href="#" class="card-footer-item edit-link" 
                                       data-id="{{ donation.donation_id }}" 
                                       data-food-item="{{ donation.food_item }}" 
                                       data-quantity="{{ donation.quantity }}" 
                                       data-pickup-by="{{ donation.pickup_by|date:'Y-m-d' }}"
                                       data-organization-id="{{ donation.organization.organization_id }}">
                                       Modify
                                    </a>
                                    <a href="#" class="card-footer-item delete-link">Delete</a>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="box">No donations available at the moment.</p>
            {% endif %}
    </div>

    <div id="addDonationModal" class="modal">
        <div class="modal-content">
            <!-- djlint:off -->
            <span class="close" name="modal-close" id="closeModal">&times;</span>
            <!-- djlint:on -->
            <h2 id="modal-header">Add a Donation</h2>
            <hr>
            <form method="post" action="{% url 'donor_dashboard:add_donation' %}">
                {% csrf_token %}
                <!-- Donation Form Fields -->
                <div class="field">
                    <label class="label">Food Item</label>
                    <div class="control">
                        <input class="input" type="text" name="food_item" placeholder="Food item">
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Quantity</label>
                    <div class="control">
                        <input class="input" type="number" name="quantity" placeholder="Quantity">
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Pickup By</label>
                    <div class="control">
                        <input class="input" type="date" name="pickup_by">
                    </div>
                </div>
    
                <div class="field" hidden>
                    <label class="label">Organization</label>
                    <div class="control">
                        <input type="hidden" name="organization" value="{{ organization.organization_id }}">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}