{% extends "_base.html" %}
{% block title %}
    Organization Details
{% endblock title %}
{% block content %}
    <div class="container">
        {% include "partials/notifications.html" %}
        <nav class="breadcrumb mt-5" aria-label="breadcrumbs">
            <ul>
                <li><a href="{% url 'donor_dashboard:org_list' %}">
                        <span class="icon is-small"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        <span>Organizations</span>
                    </a></li>
                    <li><a href="{% url 'donor_dashboard:manage_organization' organization.organization_id %}">
                        <span class="icon is-small"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                        <span>{{ organization.organization_name }}</span>
                    </a></li>
                <li class="is-active">
                    <a href="#" aria-current="page">Edit Details</a>
                </li>
            </ul>
        </nav>
        <h1 class="title mt-3">
            <strong>{{ organization.organization_name }}</strong>
        </h1>
        <h2 class="subtitle mt-3">
            Edit Organization Details
        </h2>
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-content">
                    <div class="columns is-multiline">
                        <div class="column is-full-mobile is-two-thirds-tablet">
                            <div class="field">{{ form.organization_name }}</div>
                        </div>
                        <div class="column is-full-mobile is-one-third-tablet">
                            <div class="field">
                                <div class="control">
                                    <div class="tag is-medium is-light is-fullwidth">{{ form.type }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-two-thirds-tablet is-full-mobile">
                            <div class="field">
                                <div class="control">
                                    <div class="button is-link is-light is-fullwidth has-text-left is-flex-wrap-wrap">{{ form.address }}</div>
                                </div>
                            </div>
                            <div class="field">{{ form.zipcode }}</div>
                        </div>
                        <div class="column is-one-third-tablet is-full-mobile">
                            <div class="field">{{ form.email }}</div>
                            <div class="field">{{ form.contact_number }}</div>
                            <div class="field">{{ form.website }}</div>
                        </div>
                    </div>
                </div>
                <footer class="card-footer has-background-white-ter">
                    <button id="submit-btn" type="submit" class="card-footer-item">
                        <strong>Update</strong>
                    </button>
                </footer>
            </div>
        </form>
        <h2 class="subtitle mt-4">
            <strong>Add Admins:</strong>
        </h2>
        <form method="post" action="{% url 'donor_dashboard:add_org_admin' %}">
            {% csrf_token %}
            <div class="card">
                <input type="hidden"
                       name="organization_id"
                       value="{{ organization.organization_id }}">
                <div class="card-content">
                    <h2>
                        Email:
                        <input type="email"
                               id="email"
                               name="email"
                               placeholder="Enter new admin email"
                               required>
                    </h2>
                </div>
                <footer class="card-footer has-background-white-ter">
                    <button id="submit-btn" type="submit" class="card-footer-item">
                        <strong>Add</strong>
                    </button>
                </footer>
            </div>
        </form>
        <h2 class="subtitle mt-4">
            <strong>All Admins list</strong>
        </h2>
        <div class="columns is-multiline is-variable is-4">
            {% if admins %}
                {% for admin in admins %}
                    <div class="column is-one-third">
                        <div class="box">
                            <div class="columns is-multiline">
                                <div class="column is-full-mobile is-two-thirds-tablet">
                                    <h3 class="title is-4">{{ admin.name }}</h3>
                                </div>
                                <div class="column is-full-mobile is-one-third-tablet">
                                    {% if admin.access_level == "owner" %}
                                        <!-- djlint:off -->
                                        <form action="{% url 'donor_dashboard:assign_organization_access_level' organization.organization_id admin.email admin.access_level %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" style="color: green; background: none; border: none; cursor: pointer;">
                                                Make as admin
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="{% url 'donor_dashboard:assign_organization_access_level' organization.organization_id admin.email admin.access_level %}" method="post" style="display: inline;">
                                                {% csrf_token %}
                                            <button type="submit" style="color: green; background: none; border: none; cursor: pointer;">
                                                Make as owner
                                            </button>
                                        </form>                                     
                                <!-- djlint:on -->
                            {% endif %}
                        </div>
                    </div>
                    <p>
                        <strong>Email:</strong> {{ admin.email }}
                    </p>
                    <p>
                        <strong>Role:</strong> {{ admin.access_level }}
                    </p>
                    <!-- djlint:off -->
                    <footer class="card-footer has-text-danger">
                        <!-- djlint:on -->
                        <form action="{% url 'donor_dashboard:remove_admin_owner' organization.organization_id admin.email %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="card-footer-item" style="background: none; border: none; color: inherit; cursor: pointer;">
                                Remove
                            </button>
                        </form>
                    </footer>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="box">No Admins in this Organizations!!</p>
{% endif %}
</div>
</div>
{% endblock content %}
