{% extends "_base.html" %}
{% load static %}

{% block extra_css %}
{% endblock extra_css %}

{% block title %}
    User Profile
{% endblock title %}

{% block content %}
{% include "partials/notifications.html" %}

    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-content">
                <h2 class="subtitle mt-2">
                    <strong>Manage Profile</strong>
                </h2>
                <div class="columns is-multiline">
                    <div class="column is-full-mobile is-half-tablet">
                        <div class="field">
                            <label class="label">First Name</label>
                            <div class="control">
                            <input class="input" type="text" placeholder="First Name" name="first_name" value="{{ user_profile.user.first_name }}">
                            </div>
                        </div>
                    </div>
                    <div class="column is-full-mobile is-half-tablet">
                        <div class="field">
                            <label class="label">Last Name</label>
                            <div class="control">
                            <input class="input" type="text" placeholder="Last Name" name="last_name" value="{{ user_profile.user.last_name }}">
                            </div>
                        </div>
                    </div>
                
                    <div class="column is-full-mobile is-two-thirds-tablet">
                        <div class="field">
                            <label class="label">Phone Number</label>
                            <div class="control">
                                <input class="input is-danger" type="tel" pattern="[0-9]{10}" placeholder="Enter phone number in this format XXXXXXXXXX" name="phone_number" value="{{ user_profile.phone_number }}">
                            </div>
                        </div>
                    </div>

                    <!-- Dietary Restrictions Section -->
                    <div class="column is-full-mobile is-two-thirds-tablet">
                        <div class="field">
                            <label class="label">Dietary Restrictions</label>
                            <div class="control buttons">
                                {% for restriction in default_restrictions %}
                                    <button type="button" class="button {% if restriction.name in user_restrictions %}is-success{% endif %}"
                                            onclick="toggleSelection(this, '{{ restriction.name }}')">
                                        {{ restriction.label }}
                                    </button>
                                {% endfor %}
                            </div>

                            <!-- Hidden inputs to capture button state for backend -->
                            {% for restriction in default_restrictions %}
                                <input type="hidden" id="{{ restriction.name }}" name="{{ restriction.name }}" 
                                    value="{% if restriction.name in user_restrictions %}true{% else %}false{% endif %}">
                            {% endfor %}
                        </div>

                        <!-- Custom Dietary Restrictions -->
                        <div class="field">
                            <label class="label">Enter custom dietary restrictions:</label>
                            <div class="control">
                                <input class="input" type="text" name="custom_restriction" 
                                    placeholder="Specify custom restriction"
                                    value="{{ custom_restriction }}">
                            </div>
                        </div>
                    </div>

                    <div class="column is-full-mobile is-half-tablet">
                        <div class="field"><strong>Email: </strong>{{ user_profile }}</div>
                    </div>
                    <div class="column is-full-mobile is-half-tablet">
                        <div class="field"><strong>Profile Status: </strong>{{ user_profile.active }}</div>
                    </div>
                    <div class="column is-full-mobile is-half-tablet">
                        <div class="field"><strong>Member Since: </strong>{{ user_profile.created_at }} UTC</div>
                    </div>
                    <div class="column is-full-mobile is-half-tablet">
                        <div class="field"><strong>Profile Last Updated At: </strong>{{ user_profile.modified_at }} UTC</div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <button id="submit-btn" type="submit" class="card-footer-item">
                    <strong>Update Profile</strong>
                </button>
            </footer>
        </div>
    </form>
    <script src="{% static 'js/user_profile.js' %}"></script>
{% endblock content %}