{% extends "base.html" %}
{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if forloop.counter > 0 %}
                    {{ message }}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<section class="hero">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-one-third">
                <p class="title">Login</p>
                <hr>
                <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        {{ form.username }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        {{ form.password }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary is-fullwidth">Login</button>
                    </div>
                </div>
                </form>
                {% load socialaccount %}
                <div class="field pt-3">
                    <div class="control">
                        <form method="post" action="{% provider_login_url 'google' %}">
                            {% csrf_token %}
                            <button type="submit" class="button is-light is-fullwidth">
                                <span class="icon">
                                    <i class="fa-brands fa-google"></i>
                                </span>
                                <span>Continue with Google</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
