{% extends "_base.html" %}
{% block content %}
    <div class="container is-light">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <h2 class="title is-3 has-text-weight-bold">Profile</h2>
                <p class="subtitle is-5">Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
            </div>
        </div>
        <div class="box has-text-centered mt-6">
            <h1 class="title is-2 has-text-dark">
                Coming Soon
            </h1>
        </div>
    </div>
{% endblock content %}
