{% extends "_base.html" %}
{% block content %}
<main class="pt-16">
    <div class="relative isolate overflow-hidden py-24">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight">Profile</h2>
                <p class="mt-6 text-lg leading-8 text-slate-700">Welcome, {{ user.first_name }} {{ user.last_name }}!
                </p>
            </div>
            <!-- <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
                <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-slate-700">Food saved</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight">0</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-slate-700">Money saved</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight">$0</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-slate-700">Food listed</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight">0</dd>
                    </div>
                    <div class="flex flex-col-reverse">
                        <dt class="text-base leading-7 text-slate-700">Rating</dt>
                        <dd class="text-2xl font-bold leading-9 tracking-tight">0</dd>
                    </div>
                </dl>
            </div> -->
            <div class="bg-white p-8 text-center mt-8">
                <h1 class="text-4xl font-bold text-slate-800">
                    Coming Soon
                </h1>
            </div>
        </div>
    </div>
</main>
{% endblock content %}